.mainresponse {

  @media ( max-width : 380px ) {
    width: 380px;
  }
}

.noresponse{
  display: flex;
  margin-right: 45%;
  margin-left: 45%;
  margin-top: 6%;
  width: 340px;
  text-align: center;
}

.inputsearch {
  border-radius: 5px;
  display: flex;
  font-size: 15px;
  height: 35px;
  margin-left: 11%;
  margin-top: 1%;
  width: 350px;

  @media ( max-width : 380px ) {
    height: 30px;
    width: 270px;
  }
}

.inputsearch:hover {
  border-radius: 5px;
  cursor: text;
  display: flex;
  font-size: 25px;
  height: 45px;
  margin-left: 11%;
  margin-top: 1%;
  transition: 0.35s;
  width: 410px;

  @media ( max-width : 380px ) {
    height: 30px;
    margin-left: 6%;
    width: 320px;
  }
}

.newscontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 12%;
  margin-right: 12%;
  width: 1400px;

  @media ( max-width : 380px ) {
    justify-content: center;
    margin-left: 2%;
    margin-right: 3%;
    width: 360px;
  }
}

.newsCard {
  background: rgba(255, 255, 255, 1);
  border-radius: 1%;
  box-shadow: 0 2px 14px 0 #2a2a2a3d;
  display: flex;
  flex-direction: column;
  height: 331px;
  justify-content: space-between;
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 2%;
  width: 438px;

  @media ( max-width : 380px ) {
    height: 600px;
    width: 360px;
  }
}

.divlink {
  align-items: center;
  border: 1px solid #c31815;
  border-radius: 2px;
  display: flex;
  flex-shrink: 0;
  height: 60px;
  justify-content: center;
  margin-bottom: 2%;
  margin-left: 43%;
  width: 220px;

  @media ( max-width : 500px ) {
    margin: auto;
    margin-bottom: 3%;
    width: 240px;
  }
}

.divlink:hover {
  align-items: center;
  border: 1px solid rgb(47, 56, 137);
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  height: 70px;
  justify-content: center;
  margin-bottom: 2%;
  margin-left: 42%;
  transition: 0.35s;
  width: 250px;
}

.spanlink {
  color: #c31815;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.6px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
}

.spanlink:hover {
  color: #c31815;
  cursor: pointer;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.6px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.35s;
}

.nofavorite {
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
  margin-top: 4%;
  width: 1394px;
}
