.hcontainer {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  height: 90px;
  /* border: solid red 5px; */
  @media (max-width: 380px) {
    width: 380px;
  }
}

.h1 {
  display: flex;
  background: rgba(14, 14, 14, 0.85);
  color: rgba(255, 255, 255, 1);
  width: 1920px;
  justify-content: center;
  align-items: center;
  font-family: Poller One;
  font-size: 86px;
  font-style: normal;
  font-weight: 900;
  line-height: 15px; /* 17.442% */
  letter-spacing: 1.6px;
  @media (max-width: 380px) {
    width: 380px;
    font-size: 36px;
  }
}

.logo {
  width: 256vwh;
  height: 90px;
  flex-shrink: 0;
  justify-content: start;
  @media (max-width: 380px) {
    width: 90px;
    height: 90px;
  }
}