.sectcontainer {
  display: flex;
  /* border: solid red 5px; */
  justify-content: space-between;
  align-items: center;
  width: 1394px;
  margin: 6% 11%;
}

.latestimg {
  width: 754px;
  height: 485px;
  border-radius: 2px;
  border: 1px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.artcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 540px;
  height: 328px;
  border-radius: 5px;
  flex-shrink: 0;
  /* border: solid red 5px; */
}

.divtop {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-left: 1%;
  margin-top: 0;
  /* border: solid red 5px; */
  width: 540px;
  color: red;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 210%; /* 29.4px */
  letter-spacing: 0.28px;
}

.divtext {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  margin-left: 1%;
  /* border: solid red 5px; */
  flex-shrink: 0;
}

.titulotext {
  font-family: IBM Plex Serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 540px;
  height: 123px;
  flex-shrink: 0;
  /* margin-bottom: 3%; */
  /* margin-top: 3%; */
  margin-left: 1%;
  /* border: solid purple 1px; */
}

.introducaotext {
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%; /* 24.75px */
  width: 500px;
  height: 94px;
  flex-shrink: 0;
  /* margin-top: 3%; */
  margin-left: 1%;
  /* border: solid orange 1px; */
}

.divbottom {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-left: 1%;
  /* margin-top: 3%; */
  width: 540px;
}

.spanlink {
  display: flex;
  width: 167px;
  height: 36px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  background: rgba(5, 212, 101, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}