.sectcontainer {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 6%;
  margin-bottom: 6%;
  width: 1920px;

  @media ( max-width : 600px ) {
    flex-direction: column;
    margin: 3% 2%;
    width: 360px;
  }
}

.latestimg {
  border: 1px;
  border-radius: 2px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  height: 485px;
  width: 754px;

  @media ( max-width : 600px ) {
    height: 250px;
    margin-bottom: 3%;
    width: 360px;
  }
}

.artcontainer {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 328px;
  justify-content: space-between;
  width: 540px;

  @media ( max-width : 600px ) {
    height: 320px;
    justify-content: flex-start;
    width: 360px;
  }
}

.divtop {
  align-items: center;
  color: red;
  display: flex;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  justify-content: space-between;
  letter-spacing: 0.28px;
  line-height: 210%;
  margin-left: 1%;
  margin-top: 0;
  width: 540px;

  @media ( max-width : 600px ) {
    font-size: 15px;
    margin-bottom: 3%;
    width: 350px;
  }
}

.labelresponse {

  @media ( max-width : 600px ) {
    display: flex;
    font-size: 10px;
    justify-content: end;
    width: 15px;
  }
}

.heart {
  opacity: 1;

  @media ( max-width : 600px ) {
    display: flex;
    font-size: 10px;
    justify-content: end;
    width: 16px;
  }
}

.heart:hover {
  cursor: pointer;
  transition: 0.9s;
  width: 20px;
}

.divtext {
  align-items: center;
  border: solid red 1px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  margin-left: 1%;

  @media ( max-width : 600px ) {
    width: 380px;
  }
}

.titulotext {
  flex-shrink: 0;
  font-family: IBM Plex serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  height: 123px;
  line-height: normal;
  margin-left: 1%;
  width: 540px;

  @media ( max-width : 600px ) {
    font-size: 25px;
    height: 40px;
    margin-bottom: 6%;
    text-align: justify;
    width: 350px;
  }
}

.introducaotext {
  flex-shrink: 0;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  height: 94px;
  line-height: 165%;
  margin-left: 1%;
  width: 500px;

  @media ( max-width : 600px ) {
    height: 50px;
    margin-bottom: 10%;
    margin-top: 2%;
    text-align: justify;
    width: 350px;
  }
}

.divbottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: 1%;
  width: 540px;

  @media ( max-width : 600px ) {
    justify-content: space-around;
    width: 350px;
  }
}

.spanlink {
  align-items: center;
  background: rgba(5, 212, 101, 1);
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-shrink: 0;
  gap: 10px;
  height: 36px;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  width: 167px;

}

.spanlink:hover {
  align-items: center;
  background: rgba(0, 255, 0, 0.8);
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  gap: 11px;
  height: 40px;
  justify-content: center;
  padding: 11px;
  text-decoration: none;
  transition: 0.35s;
  width: 180px;
}
