.checkFavorite {
  display: flex;
  justify-content: end;
  margin-bottom: 0;
  margin-right: 0;
  background: rgba(255, 255, 255, 1);
  flex-shrink: 0;
  @media (max-width: 380px) {
    width: 340px;
  }
}

.heartlabel {
  background: rgba(255, 255, 255, 1);
  /* border: solid orange 1px; */
  @media (max-width: 380px) {
    width: 17px;
  }
}

.heartlabel:hover {
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: 0.9s;
  width: 20px;
}

.imgresponse {
  display: none;
  @media (max-width: 380px) {
    width: 340px;
    display: block;
    border-radius: 1%;
  }
}

.titulo {
  font-family: IBM Plex Serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  font-style: normal;
  /* height: 50px; */
  letter-spacing: 0em;
  background: rgba(255, 255, 255, 1);
  /* border: solid blueviolet 1px; */
  flex-shrink: 0;
  width: 388px;
  height : 45px;
  @media (max-width: 380px) {
    width: 330px;
    text-align: justify;
    margin-left: 3%;
    margin-right: 3%;
  }
}

.introducao {
  margin-top: 7%;
  font-family: Nunito Sans;
  /* border: solid pink 1px; */
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  font-style: normal;
  width: 388px;
  height: 106px;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 1);
  @media (max-width: 380px) {
    width: 330px;
    text-align: justify;
    margin: 16% 3%;
  }
}

hr {
  @media (max-width: 380px) {
    width: 350px;
  }
}

.divdata {
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 1);
  flex-shrink: 0;
  margin-bottom: 1%;
  /* border: solid yellowgreen 1px; */
  @media (max-width: 380px) {
    width: 345px;
  }
}

.diastext{
  display: flex;
  width: 94px;
  height: 20px;
  padding-top: 10px;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%; /* 23.1px */
  background: rgba(255, 255, 255, 1);
}

.spanlink {
  display: flex;
  width: 167px;
  height: 36px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  text-decoration: none;
  background: rgba(5, 212, 101, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.spanlink:hover {
  cursor: pointer;
  transition: 0.35s;
  display: flex;
  width: 180px;
  height: 40px;
  padding: 11px;
  justify-content: center;
  align-items: center;
  gap: 11px;
  flex-shrink: 0;
  border-radius: 5px;
  text-decoration: none;
  background: rgba(0, 255, 0, 0.8);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}