.checkFavorite {
  margin-bottom: 0;
  background: rgba(255, 255, 255, 1);
}

.teste {
  background: rgba(255, 255, 255, 1);
}

.titulo {
  width: 400px;
  height: 100px;
  font-family: IBM Plex Serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  background: rgba(255, 255, 255, 1);
  border: solid blueviolet 1px;
}