.checkFavorite {
  display: flex;
  justify-content: end;
  margin-bottom: 0;
  margin-right: 0;
  background: rgba(255, 255, 255, 1);
  flex-shrink: 0;
}

.teste {
  background: rgba(255, 255, 255, 1);
}

.titulo {
  font-family: IBM Plex Serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  height: 45px;
  letter-spacing: 0em;
  background: rgba(255, 255, 255, 1);
  /* border: solid blueviolet 1px; */
  flex-shrink: 0;
}

.introducao {
  margin-top: 2%;
  font-family: Nunito Sans;
  /* border: solid pink 1px; */
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  height: 106px;
  flex-shrink: 0;
  background: rgba(255, 255, 255, 1);
}

.divdata {
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 1);
  flex-shrink: 0;
}