.placcontainer {
  align-items: center;
  backdrop-filter: blur(14px);
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-shrink: 0;
  height: 67px;
  justify-content: space-between;
  margin-left: 3%;
  margin-right: 3%;
  width: 1806px;

  @media ( max-width : 600px ) {
    height: 50px;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;
    width: 360px;
  }
}

.navdiv {
  background: rgba(255, 255, 255, 0.85);
  display: inline;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 2%;
  margin-right: 4%;
  width: 600px;

  @media ( max-width : 600px ) {
    height: 20px;
    width: 350px;
  }
}

.navtext {
  background: rgba(255, 255, 255, 0.85);
  display: inline;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 2%;
  margin-right: 4%;
  text-decoration: underline red 4px;
  width: 30vw;

  @media ( max-width : 600px ) {
    font-size: 12px;
    height: 18px;
    text-decoration: underline red 2px;
    width: 320px;
  }
}

.navlinks {
  background: rgba(255, 255, 255, 0.85);
  display: inline;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 2%;
  margin-right: 4%;
  width: 30vw;

  @media ( max-width : 600px ) {
    font-size: 12px;
    height: 44px;
    width: 320px;
  }
}

.navlinks:hover {
  color: brown;
  cursor: pointer;
  display: inline;
  font-family: Poppins;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 2%;
  margin-right: 4%;
  transition: 0.35s;
  width: 32vw;

  @media ( max-width : 600px ) {
    font-size: 12px;
    height: 44px;
    width: 320px;
  }
}

.navgroup {
  margin-right: 2%;

  @media ( max-width : 600px ) {
    display: none;
  }
}

.navgroup:hover {
  cursor: pointer;
  transition: 0.35s;
  background-color: rgba(165, 42, 42, 0.4);
  width: 60px;
}
